@model IEnumerable<DongHoCasio.Model.KhuyenMai>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaKM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenCTKM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianBD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianKT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaKM)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenCTKM)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThoiGianBD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThoiGianKT)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaKM }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaKM }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaKM })
    </td>
</tr>
}

</table>
