@model DongHoCasio.Model.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Shipper/Views/Shared/_LayoutShipper.cshtml";
}


<div>
    <h4>Chi Tiết Thông Tin Đơn Hàng</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Mã Đơn Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDH)
        </dd>

        <dt>
            Ngày Mua
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMua)
        </dd>

        <dt>
            Tổng Tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt>
            UserName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Người Nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenKH)
        </dd>

        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Số Điện Thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Trạng Thái Đơn Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDH }, htmlAttributes: new { @class = "btn-wide btn btn-success btn-sm" }) |
    @Html.ActionLink("Trở về", "Index")
</p>