
@using DongHoCasio.Model;
@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
    List<SanPham> listSanPhamMoi = ViewBag.SanPhamMoi;
    List<SanPham> listSanPhamBanChay = ViewBag.SanPhamBanChay;
    List<SanPham> listSanPhamKhuyenMai = ViewBag.SanPhamKhuyenMai; }
<!--Sản phẩm mới-->

<div class="top-brands">
    <div class="container">
        <h3>Sản Phẩm mơí</h3>
        <div class="agile_top_brands_grids">

            @foreach (var item in listSanPhamMoi)
            {
<div class="col-md-3 top_brand_left">
    <div class="hover14 column">
        <div class="agile_top_brand_left_grid">
            <div class="tag"><img src="/Content/images/tag.png" alt=" " class="img-responsive" /></div>
            <div class="agile_top_brand_left_grid1">
                <figure>
                    <div class="snipcart-item block">
                        <div class="snipcart-thumb">
                            <a href="@Url.Action("Details", "Home", new { id = item.MaSP})"><img title=" " alt="Chưa tải được sách " src="@Url.Content(item.Hinh)" class="img-responsive" /></a>


                            <p>@item.MaSP</p>
                            <h4>@item.Gia.ToString("N0")</h4>

                            <div class="snipcart-details top_brand_home_details">
                                <form action="/them-gio-hang?maSP=@item.MaSP&soLuong=1" method="post">
                                    <fieldset>
                                        <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                    </fieldset>

                                </form>

                            </div>
                        </div>


                    </div>
                </figure>
            </div>
        </div>
    </div>

</div>      }


            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!--Sản phẩm bán chạy-->

<div class="top-brands">
    <div class="container">
        <h3>Sản Phẩm bán chạy</h3>
        <div class="agile_top_brands_grids">

            @foreach (var item in listSanPhamBanChay)
            {
<div class="col-md-3 top_brand_left">
    <div class="hover14 column">
        <div class="agile_top_brand_left_grid">
            <div class="tag"><img src="/Content/images/tag.png" alt=" " class="img-responsive" /></div>
            <div class="agile_top_brand_left_grid1">
                <figure>
                    <div class="snipcart-item block">
                        <div class="snipcart-thumb">
                            <a href="@Url.Action("Details", "Home", new { id = item.MaSP})"><img title=" " alt="Chưa tải được sách " src="@Url.Content(item.Hinh)" class="img-responsive" /></a>
                            <p>@item.MaSP</p>
                            <h4>@item.Gia.ToString("N0")</h4>
                        </div>
                        <div class="snipcart-details top_brand_home_details">
                            <form action="/them-gio-hang?maSP=@item.MaSP&soLuong=1" method="post">
                                <fieldset>
                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                </fieldset>

                            </form>

                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>

</div>      }


            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="top-brands">
    <div class="container">
        <h3>Sản Phẩm khuyến mãi</h3>
        <div class="agile_top_brands_grids">

            @foreach (var item in listSanPhamBanChay)
            {
<div class="col-md-3 top_brand_left">
    <div class="hover14 column">
        <div class="agile_top_brand_left_grid">
            <div class="tag"><img src="/Content/images/tag.png" alt=" " class="img-responsive" /></div>
            <div class="agile_top_brand_left_grid1">
                <figure>
                    <div class="snipcart-item block">
                        <div class="snipcart-thumb">
                            <a href="@Url.Action("DetailsKhuyenMai", "Home", new { id = item.MaSP})"><img title=" " alt="Chưa tải được sách " src="@Url.Content(item.Hinh)" class="img-responsive" /></a>
                            <p>@item.MaSP</p>
                            <strong>@item.Gia.ToString("N0")</strong>
                            <span>@item.GiamGia.ToString("N0")</span>

                        </div>
                        <div class="snipcart-details top_brand_home_details">
                            <form action="/them-gio-hang?maSP=@item.MaSP&soLuong=1" method="post">
                                <fieldset>
                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                </fieldset>

                            </form>

                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>

</div>      }


            <div class="clearfix"> </div>
        </div>
    </div>
</div>





