@model DongHoCasio.Model.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    <h3>Bạn muốn xóa tài khoản này?</h3>
    <hr />
    <dl class="table-condensed">
        <dt>
            UserName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
    <dl>
        <dt>
            Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    <dl>
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl>
        <dt>
            Số Điện Thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>
    </dl>
    <dl>
        <dt>
            Quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowed)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn badge-danger btn-sm" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
