@model DongHoCasio.Model.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    <h3>Thông Tin Tài Khoản</h3>
    <hr />
    <dl class="table-condensed">
        <dt>
            UserName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
    <dl>
        <dt>
            Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    <dl>
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl>
    <dt>
        Số Điện Thoại
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SDT)
    </dd>
    </dl>
    <dl>
        <dt>
            Quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowed)
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.UserName }, htmlAttributes: new { @class = "btn-wide btn btn-success btn-sm" }) |
    @Html.ActionLink("Trở về", "Index")
</p>
