@model IEnumerable<DongHoCasio.Model.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}


<h3>Trang Quản Lý Tài Khoản</h3>

<p>
    @Html.ActionLink("Tạo Tài Khoản Mới", "Create", null, htmlAttributes: new { @class = "btn  btn-custome btn-outline-info btn-lg btn-sm "})
</p>
<hr />
<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            PassWord
        </th>
        <th>
            Email
        </th>
        <th>
            Số Điện Thoại
        </th>
        <th>
            Quyền
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allowed)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.UserName }, htmlAttributes: new { @class = "btn-wide btn btn-success btn-sm" }) |
                @Html.ActionLink("Chi Tiết", "Details", new { id = item.UserName }, htmlAttributes: new { @class = "btn badge-warning btn-sm" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.UserName }, htmlAttributes: new { @class = "btn badge-danger btn-sm" })
            </td>
        </tr>
    }

</table>
