@model DongHoCasio.Model.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    <h4>Chi Tiết Sản Phẩm</h4>
    <hr />
    <dl class="card-body">

        <dd>
            <img src="@Url.Content(Model.Hinh)" style="height:200px; width:200px;margin:10px" alt="Chưa có ảnh" />
        </dd>

        <dt>
            Mã Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Ngày Thêm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThem)
        </dd>

        <dt>
            Số Lượng Còn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongKho)
        </dd>

        <dt>
            Số Lượng Bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>


        <dt>
            Mã Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>

        <dt>
            Tình Trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
        <dt>
            Tính Năng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhNang)
        </dd>

        <dt>
            Mô tả thêm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaSP }, htmlAttributes: new { @class = "btn-wide btn btn-success btn-sm" }) 
    <br><br>
    @Html.ActionLink("Trở về", "Index")
</p>
