@model DongHoCasio.Model.ChiTietDonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietDonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonHang.HoTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonHang.HoTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPham.MaLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.MaLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
