@{
    if (Session["username"] == null)//Nếu chưa đăng nhập
    {
        //Thì sẽ chuyển đến trang Login
        Response.Redirect("/Account/Login");
    }
}

@model List<DongHoCasio.Model.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">

                <thead>
                    <tr>
                        <td></td>
                        <td>Sản Phẩm</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="@Url.Content(item.SanPham.Hinh)" style="height:100px; width:100px;margin:5px" alt="Chua co Anh" /></td>
                            <td>@item.SanPham.MaSP</td>
                            <td><input type="text" class="txtSoLuong" data-id="@item.SanPham.MaSP" value="@item.SoLuong" /></td>
                            <td>@item.SanPham.Gia.ToString("N0")</td>
                            <td>@((item.SanPham.Gia * item.SoLuong).ToString("N0"))</td>
                            <td><a href="#" data-id="@item.SanPham.MaSP" class="btn-delete">Xóa</a></td>
                        </tr>
                    }

                </tbody>
            </table>

        }

    </div>
    <div class="section group">
        <div class="col-md-6" style="text-align:center">
            @using (Html.BeginForm("ThanhToan", "Cart", FormMethod.Post))
            {

                <div class="form-group">
                    <label>Người Nhận</label>
                    <input name="HoTenKH" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input name="DiaChi" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input name="SDT" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="Email" class="form-control" />
                </div>
                <button type="submit" class="btn">Đặt hàng</button>
            }
        </div>

    </div>

</div>




