@model IEnumerable<DongHoCasio.Model.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h3>Quản Lý Sản Phẩm</h3>

<p>
    @Html.ActionLink("Thêm Sản Phẩm Mới", "Create", null, htmlAttributes: new { @class = "btn  btn-custome btn-outline-info btn-lg btn-sm " })
    <hr />
</p>
<table class="table">
   
    <tr>
        <th>
            Mã Sản Phẩm
        </th>
        <th>
            Giá
        </th>
        <th>
            Ngày Thêm
        </th>
        <th>
            Số Lượng Kho
        </th>
        <th>
            Số Lượng Bán
        </th>
        <th>
            Tình Trạng
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongKho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaSP }, htmlAttributes: new { @class = "btn-wide btn btn-success btn-sm" }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.MaSP }, htmlAttributes: new { @class = "btn badge-warning btn-sm" }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaSP }, htmlAttributes: new { @class = "btn badge-danger btn-sm" } ) 
        </td>
    </tr>
}

</table>
