@model IEnumerable<DongHoCasio.Model.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h3>Dòng Sản Phẩm</h3>
<p>
    @Html.ActionLink("Thêm dòng sản phẩm mới", "Create", null ,htmlAttributes: new { @class = "btn  btn-custome btn-outline-info btn-lg btn-sm " })
    <hr/>
</p>
<table class="table">
    <tr>
        <th>
            Mã Loại
        </th>
        <th>
           Tình Trạng
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
         
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaLoai }, htmlAttributes: new { @class = "btn-wide btn btn-success btn-sm" }) |                
                @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaLoai }, htmlAttributes: new { @class = "btn badge-warning btn-sm" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaLoai }, htmlAttributes: new { @class = "btn badge-danger btn-sm" })
            </td>
        </tr>
    }

</table>
