@model DongHoCasio.Model.DonHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.MaDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
